{% extends 'base.html' %}
{% block styles %}
  <style>
  .jumbotron{
    text-align: center;
  }
  </style>
{% endblock %}

{% block jumbotron %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Theme example</h1>
    <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
  </div>
{% endblock %}

{% block content %}
  <h1> Hello World! Bonda:)</h1>
{% endblock %}
